* {
    padding: 0;
    margin: 0;
    font-family: "NanumBarunGothic", sans-serif;
}

.myMap {
    width: 1300px;
    height: 600px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    margin-top: -100px;
    z-index: 0;
}

.customoverlay {
    position: relative;
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: rgb(81, 187, 168) url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 13px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.customoverlay:after {
    content: '';
    position: absolute;
    margin-left: -21px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.zonex {
    height: 200px;
    margin-left: 300px;
    float: left;
}


.line {
    border-bottom: 1px solid rgb(180,180,180);
    width: 970px;
    margin-left: 35px;
    float: left;
    height: 3px;
}

.zonez {
    width: 981px;
    float: right;
    height: 70px;
    margin-right: 300px;
}

.bestCardName {
    margin-left: 35px;
    float: left;
    font-size: 2.2rem;
    text-align: left;
    height: 50px;
    width: 1000px;
    font-weight: 1000;
}

.bestCardCompany{
    display:flex;
    float: left;
}

.bestCardCompanyText{
    float: left;
    padding-top: 10px;
    width: 140px;
    height: 60px;
    text-align: left;
    font-size: 1.8rem;
    margin-left: 15px;
}

.bestCardCompanyImage{
    height: 60px;
    margin-left: -35px;
}

.moreInfoButton1 {
    width: 400px;
    height: 60px;
    font-size: 1.8rem;
    align-items: center;
    background-color: rgb(243, 156, 18);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    float:left;
    margin-left: 35px;
}

.moreInfoButton2 {
    width: 400px;
    height: 60px;
    font-size: 1.8rem;
    align-items: center;
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    float:left;
    margin-left: 15px;
}